@font-face {
    font-family: "NewYorkExtraLarge";
    font-weight: 600;
    src: url("../fonts/NewYorkExtraLargeBold.otf") format("woff2");
}

@font-face {
    font-family: "SFUIDisplayLight";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/SFUIDisplay-Light.woff") format("woff2");
}

@font-face {
    font-family: "SFUIDisplayRegular";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/SFUIDisplay-Regular.woff") format("woff2");
}

@font-face {
    font-family: "SFUIDisplaySemiBold";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/SFUIDisplay-Semibold.woff") format("woff2");
}

@font-face {
    font-family: "SFUIDisplayBold";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/SFUIDisplay-Bold.woff") format("woff2");
}

ul{
    list-style: none;
}
body {
    font-family: "SFUIDisplayRegular";
    color: #000000;
    min-width: 360px;
}
.btn{
    height: 56px;
    padding: 8px 32px;
    background-color: #FD665E;
    border-radius: 4px;
    font-size: 14px;
    line-height: 40px;
    color: #FFFFFF;
    font-family: "SFUIDisplaySemiBold";
    letter-spacing: 0.01em;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
.title{
    font-family: "NewYorkExtraLarge";
    font-size: 48px;
    line-height: 124%;
    color: #000000;
}
.text{
    font-family: "SFUIDisplayRegular";
    color: #000000;
    font-size: 16px;
    line-height: 160%;
    color: #000000;
}

/* HEADER */
.header__container{
    min-height: 96px;
    padding: 0 50px;
    justify-content: space-between;
}
.header__container,
.header__navigation,
.nav__list,
.header__autorization{
    display: flex;
    align-items: center;
}
.header__logo{
    margin-right: 60px;
}
.nav__item{
    padding: 4px 24px;
}
.nav__link,
.header__btn--sign-in{
    font-size: 14px;
    line-height: 40px;
    color: #585858;
}
.header__btn--search{
    display: flex;
    align-items: center;
    margin-right: 26px;
}
.header__btn{
    padding: 4px 24px;
}
.header__btn--sign-in{
    margin-right: 16px;
}
.header__btn--sign-up{
    height: 48px;
}

/* MAIN */

.main__title{
    font-size: 112px;
    max-width: 870px;
    line-height: 100%;
    margin-bottom: 45px;
    padding-top: 48px;
}
.main__title span{
    color: #FD665E;
}
.main__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
    margin-bottom: 112px;
}
.main__text{
    padding-top: 10px;
    max-width: 284px;
}
.main__btn{
    margin-top: 48px;
}

/* GALLERY */
.gallery__title{
    margin: 0 auto;
    text-align: center;
    max-width: 535px;
}
.gallery__inner{
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    justify-content: center;
    gap: 45px;
    margin-top: 40px;
    padding-bottom: 128px;
}
.gallery__link{
    position: relative;
}
.gallery__link::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(30, 30, 30, 0.4);
    background-image: url(../assets/img/searhc.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: all .3s ease;
    opacity: 0%;
}
.gallery__link:hover::after{
    opacity: 100%;
}

/* ABOUT */

.about__title{
    max-width: 400px;
    margin-bottom: 40px;
    letter-spacing: -0.04em;
}
.about__inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 65px;
}
.about__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}
.about__item{
    display: flex;
    align-items: flex-start;
    margin-bottom: 48px;
}
.about__item:last-of-type{
    margin-bottom: 0;
}
.about__img-box{
    margin-right: 40px;
}
.about__item-info{
    max-width: 305px;
}
.about__item-subtitle{
    font-size: 16px;
    margin-bottom: 8px;
}
.about__btn{
    margin-top: 72px;
}

/* FEEDBACK */

.feedback__wrapper{
    background: linear-gradient(180deg, #F9F9F9 22.12%, rgba(249, 249, 249, 0) 100%);
}
.feedback__container{
    padding-top: 65px;
    padding-bottom: 75px;
}
.feedback__title{
    margin-bottom: 40px;
    max-width: 390px;
}
.feedback__inner{
    position: relative;
}
.feedback__inner::after{
    content: "";
    position: absolute;
    width: 58px;
    height: 41px;
    background-image: url(../assets/img/psevdo.png);
    top: 0%;
    left: 20%;
    z-index: 20;
}
.slider__item{
    display: flex;
    justify-content: flex-end;
}
.slider__text{
    max-width: 755px;
    font-family: "SFUIDisplayLight";
    font-size: 32px;
    line-height: 160%;
    color: #000000;
    margin-bottom: 60px;
}
.slider__text-autor{
    font-family:"SFUIDisplayRegular" ;
    font-style: normal;
    font-size: 16px;
    line-height: 160%;
    color: #000000;
}
.slider__text-autor-bold{
    font-family: "SFUIDisplayBold";
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 160%;
    color: #000000;
}
.swiper-button-prev,
.swiper-button-next{
    width: 48px;
    height: 48px;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 4px;
}
.swiper-button-prev,.swiper-button-next{
    top: 90%;
}
.swiper-button-prev{
    left: 80%;
}
.swiper-button-next{
    right: 10%;
}
.swiper-button-prev::after,
.swiper-button-next::after{
    color: #FD665E;
    font-size: 14px;
}
.swiper-button-next.swiper-button-disabled, 
.swiper-button-prev.swiper-button-disabled{
    background:transparent;
    opacity: 1;
}

/* PROJECT */
.project{
    background: linear-gradient(180deg, #F9F9F9 22.12%, rgba(249, 249, 249, 0) 100%);
}
.project__container{
    display: flex;
    justify-content: flex-end;
    background-image: url(../assets/img/bg.png);
    background-repeat: no-repeat;
    background-position: -45px center;
}
.project__inner{
    padding-top: 300px;
    padding-bottom: 273px;
}
.project__title {
    margin-bottom: 65px;
    max-width: 535px;
}
.project__title span {
    color: #FD665E;
}

/* PARTNERS */

.partners__title{
    padding-top: 65px;
    margin-bottom: 56px;
}
.partners__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 105px;
}

/* FOOTER */

.footer__inner{
    min-height: 208px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__list{
    display: flex;
    align-items: center;
}