@font-face {
    font-family: "NewYorkExtraLarge";
    font-weight: 600;
    src: url("../assets/fonts/NewYorkExtraLargeBold.otf") format("woff2");
}

@font-face {
    font-family: "SFUIDisplayLight";
    font-style: normal;
    font-weight: 300;
    src: url("../assets/fonts/SFUIDisplay-Light.woff") format("woff2");
}

@font-face {
    font-family: "SFUIDisplayRegular";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/SFUIDisplay-Regular.woff") format("woff2");
}

@font-face {
    font-family: "SFUIDisplaySemiBold";
    font-style: normal;
    font-weight: 600;
    src: url("../assets/fonts/SFUIDisplay-Semibold.woff") format("woff2");
}

@font-face {
    font-family: "SFUIDisplayBold";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/SFUIDisplay-Bold.woff") format("woff2");
}

ul{
    list-style: none;
}
body {
    font-family: "SFUIDisplayRegular";
    color: #000000;
    min-width: 360px;
}
.btn{
    height: 56px;
    padding: 8px 32px;
    background-color: #FD665E;
    border-radius: 4px;
    font-size: 14px;
    line-height: 40px;
    color: #FFFFFF;
    font-family: "SFUIDisplaySemiBold";
    letter-spacing: 0.01em;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
.title{
    font-family: "NewYorkExtraLarge";
    font-size: 48px;
    line-height: 124%;
    color: #000000;
}
.text{
    font-family: "SFUIDisplayRegular";
    color: #000000;
    font-size: 16px;
    line-height: 160%;
    color: #000000;
}

/* HEADER */
.header__container{
    min-height: 96px;
    padding: 0 50px;
    justify-content: space-between;
    position: relative;
}
.header__open-img{
    width: 50px;
    height: 10px;
    background-color: black;
}
.header__open-btn{
    position: absolute;
    cursor: pointer;
    display: none;
    top: 15%;
    right: 5%;
    width: 60px;
    height: 60px;
    background-image: url('../assets/img/burgerIcon.png');
}
.header__container,
.header__navigation,
.nav__list,
.header__autorization{
    display: flex;
    align-items: center;
}
.header__navigation{
    width: 100%;
    justify-content: space-between;
    position: relative;
    transition: all ease 0.5s ;
    -webkit-transition: all ease 0.5s ;
    -moz-transition: all ease 0.5s ;
    -ms-transition: all ease 0.5s ;
    -o-transition: all ease 0.5s ;
}
.header__logo{
    margin-right: 60px;
}
.nav__item{
    padding: 4px 24px;
}
.nav__link,
.header__btn--sign-in{
    font-size: 14px;
    line-height: 40px;
    color: #585858;
}
.header__btn--search{
    display: flex;
    align-items: center;
    margin-right: 26px;
}
.header__btn{
    padding: 4px 24px;
}
.header__btn--sign-in{
    margin-right: 16px;
}
.header__btn--sign-up{
    height: 48px;
}
.header__close-btn{
    position: absolute;
}

/* MAIN */

.main__title{
    font-size: 112px;
    max-width: 870px;
    line-height: 100%;
    margin-bottom: 45px;
    padding-top: 48px;
}
.main__title span{
    color: #FD665E;
}
.main__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
    margin-bottom: 112px;
}
.main__text{
    padding-top: 10px;
    max-width: 284px;
}
.main__btn{
    margin-top: 48px;
}

/* GALLERY */
.gallery__title{
    margin: 0 auto;
    text-align: center;
    max-width: 535px;
}
.gallery__inner{
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    justify-content: center;
    gap: 45px;
    margin-top: 40px;
    padding-bottom: 128px;
}
.gallery__link{
    position: relative;
}
.gallery__link::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(30, 30, 30, 0.4);
    background-image: url(../assets/img/searhc.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: all .3s ease;
    opacity: 0%;
}
.gallery__link:hover::after{
    opacity: 100%;
}

/* ABOUT */

.about__title{
    max-width: 400px;
    margin-bottom: 40px;
    letter-spacing: -0.04em;
}
.about__inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 65px;
}
.about__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}
.about__item{
    display: flex;
    align-items: flex-start;
    margin-bottom: 48px;
}
.about__item:last-of-type{
    margin-bottom: 0;
}
.about__img-box{
    margin-right: 40px;
}
.about__item-info{
    max-width: 305px;
}
.about__item-subtitle{
    font-size: 16px;
    margin-bottom: 8px;
}
.about__btn{
    margin-top: 72px;
}

/* FEEDBACK */

.feedback__wrapper{
    background: linear-gradient(180deg, #F9F9F9 22.12%, rgba(249, 249, 249, 0) 100%);
}
.feedback__container{
    padding-top: 65px;
    padding-bottom: 75px;
}
.feedback__title{
    margin-bottom: 40px;
    max-width: 390px;
}
.feedback__inner{
    position: relative;
}
.feedback__inner::after{
    content: "";
    position: absolute;
    width: 58px;
    height: 41px;
    background-image: url(../assets/img/psevdo.png);
    top: 0%;
    left: 20%;
    z-index: 20;
}
.slider__item{
    display: flex;
    justify-content: flex-end;
}
.slider__text{
    max-width: 755px;
    font-family: "SFUIDisplayLight";
    font-size: 32px;
    line-height: 160%;
    color: #000000;
    margin-bottom: 60px;
}
.slider__text-autor{
    font-family:"SFUIDisplayRegular" ;
    font-style: normal;
    font-size: 16px;
    line-height: 160%;
    color: #000000;
}
.slider__text-autor-bold{
    font-family: "SFUIDisplayBold";
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 160%;
    color: #000000;
}
.swiper-button-prev,
.swiper-button-next{
    width: 48px;
    height: 48px;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.swiper-pagination{
    display: none;
}
.swiper-button-prev,.swiper-button-next{
    top: 90%;
}
.swiper-button-prev{
    left: 91%;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev::after,
.swiper-button-next::after{
    color: #FD665E;
    font-size: 14px;
}
.swiper-button-next.swiper-button-disabled, 
.swiper-button-prev.swiper-button-disabled{
    background:transparent;
    opacity: 1;
}

/* PROJECT */
.project{
    background: linear-gradient(180deg, #F9F9F9 22.12%, rgba(249, 249, 249, 0) 100%);
}
.project__container{
    min-height: 812px;
    display: flex;
    justify-content: flex-end;
    background-image: url(../assets/img/bg.png);
    background-repeat: no-repeat;
    background-position: -45px center;
    transition: all 0.5s ease ;
    -webkit-transition: all 0.5s ease ;
    -moz-transition: all 0.5s ease ;
    -ms-transition: all 0.5s ease ;
    -o-transition: all 0.5s ease ;
}
.project__inner{
    padding-top: 300px;
}
.project__title {
    margin-bottom: 65px;
    max-width: 535px;
}
.project__title span {
    color: #FD665E;
}

/* PARTNERS */

.partners__title{
    padding-top: 65px;
    margin-bottom: 56px;
}
.partners__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 105px;
}

/* FOOTER */
.footer{
    border-top:  1px solid #F0F0F0;
}
.footer__inner{
    min-height: 208px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__list{
    display: flex;
    align-items: center;
}

/* MEDIAQUERIES */

@media screen and (max-width: 700px){
    .footer__list{
        flex-direction: column;
    }
}
@media screen and (max-width: 768px){
    .text{
        font-size: 18px;
    }
    .title{
        font-size: 45px;
    }
    .about__item-subtitle{
        font-size: 16px;
    }
    .project__inner{
        padding-left: 20px;
    }
}
@media screen and (max-width: 805px){

    .partnets__img{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1030px){
    .header__container{
        padding: 0;
    }
    .header__open-btn{
        display: block;
    }
    .header__navigation{
        position: fixed;
        top: -100%;
        flex-direction: column;
        background-color: #ffaaa5;
        width: 100vw;
        z-index: 9999;
        transition: top ease 0.5s ;
        -webkit-transition: top ease 0.5s ;
        -moz-transition: top ease 0.5s ;
        -ms-transition: top ease 0.5s ;
        -o-transition: top ease 0.5s ;
    }
    .header__navigation-active{
        top: 0;
    }
    .header__close-btn{
        cursor: pointer;
        top: 15%;
        right: 5%;
        width: 20px;
        height: 20px;
        background: url('../assets/img/cancel.png') no-repeat;
        background-size: cover;
    }
    .main__title{
        font-size: 70px;
    }
    .about__title,
    .main__title,
    .feedback__title{
        padding-left: 20px;
    }
    .feedback__title{
        max-width: 500px;
    }
    .main__inner{
        flex-direction: column-reverse;
    }
    .about__inner{
        flex-direction: column;
    }
    .about__wrapper{
        margin-top: 30px;
        padding-right: 0;
        padding-bottom: 30px;
    }
    .project__container{
        background-size: 340px auto;
        background-position: center bottom;
        justify-content: center;
    }
    .project__inner{
        padding-top: 50px;
    }
}
@media screen and (max-width: 1160px){
    .main__inner,
    .about__inner,
    .feedback__inner{
        padding: 0 20px;
    }
    .main__text{
        margin-top: 20px;
    }
    .feedback__inner::after{
        display: none;
    }
    .swiper-button-prev,
    .swiper-button-next{
        display: none;
    }
    .swiper-pagination{
        display: block;
    }
    .swiper-pagination-bullet-active{
        background: #FD665E;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets{
        bottom: 5px;
        left: 35%;
    }
    .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
    }
    .partners__title{
        padding-left: 20px;
    }
    .partners__inner,
    .footer__inner{
        padding-left: 20px;
        padding-right: 20px;
    }
}
